.dropdown {
    display: flex;
    float: left;
    background-color: white;
    position: relative;
    margin-right: 20px;
  }
 

  .react-confirm-alert-overlay{
      background: rgba(255,255,255,0);
  }